
/** ADD YOUR AWESOME CODES HERE **/

.navbar-dark .navbar-brand.brand-text {
	color: #292929;
	display: inline-block;
	font-size: 26px;
	font-weight: 700;
	letter-spacing: 0;
	line-height: 1;
	padding: 8px 0;
	text-transform: lowercase;
	white-space: nowrap;
}

.navbar-dark .navbar-brand.brand-text:hover,
.navbar-dark .navbar-brand.brand-text:focus {
	color: #009bb7;
	text-decoration: none;
}

#contact .section-title a {
	color: #faad3b;
}
